services:
  sonarqube:
    image: sonarqube
    ports:
      - 9000:9000
    networks:
      - mynetwork
  jenkins:
    image: jenkins/jenkins
    ports:
      - 8080:8080
    networks:
      - mynetwork
  tomcat:
    image: tomcat:9.0
    ports:
      - 8888:8080
    networks:
      - mynetwork
networks:
  mynetwork: